# ----------------------------------------------------------------------
# 1. Environnements Virtuels
# ----------------------------------------------------------------------
# L'environnement virtuel est spécifique à l'utilisateur et ne doit pas être partagé.
venv/
.venv/
env/
bin/
include/
lib/
share/

# ----------------------------------------------------------------------
# 2. Fichiers générés par Python
# ----------------------------------------------------------------------
# Cache et fichiers compilés
__pycache__/
*.pyc

# Packages et distributions
*.egg
*.whl
*.egg-info/
build/
dist/

# ----------------------------------------------------------------------
# 3. Fichiers temporaires et logs
# ----------------------------------------------------------------------
*.log
tmp/
.temp/

# ----------------------------------------------------------------------
# 4. Fichiers de configuration locale / sécurité
# ----------------------------------------------------------------------
# Ne pas inclure les clés secrètes ou les configs locales
.flaskenv
.env
instance/
config.py

# ----------------------------------------------------------------------
# 5. Fichiers spécifiques au système
# ----------------------------------------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db

# ----------------------------------------------------------------------
# 6. Fichiers et dossiers d'IDE
# ----------------------------------------------------------------------
.idea/
