# ----------------------------------------------------------------------
# 1. Dossiers et Fichiers d'Environnement Virtuel
# ----------------------------------------------------------------------
# L'environnement virtuel est spécifique à l'utilisateur et ne doit pas être partagé.
venv/
.venv/
env/
/bin/
/include/
/lib/
/share/

# ----------------------------------------------------------------------
# 2. Fichiers générés par Python
# ----------------------------------------------------------------------
# Fichiers de cache générés pour accélérer le chargement des modules.
__pycache__/
*.pyc

# Distribution package
*.egg
*.whl
*.egg-info/
build/
dist/

# ----------------------------------------------------------------------
# 3. Fichiers de Logs et Fichiers Temporaires
# ----------------------------------------------------------------------
*.log
tmp/
.temp/

# ----------------------------------------------------------------------
# 4. Fichiers de Sécurité/Configuration Locale
# ----------------------------------------------------------------------
# N'incluez jamais de clés secrètes, de mots de passe, ou d'informations
# de connexion spécifiques à votre machine.
.flaskenv
.env
instance/
config.py

# ----------------------------------------------------------------------
# 5. Fichiers Spécifiques au Système d'Exploitation
# ----------------------------------------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db