<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-nav d-flex align-items-center">
            <a href="/">
                <img src="/static/images/logo_pneu_sans_fond.png" class="me-3" alt="Logo" style="height: 70px;">
            </a>
            <h3 class="navbar-brand">S1 - Sujet 29</h3>
            <a class="btn btn-outline-success my-2 my-sm-0 me-2" href="/pneu-velo/show">Pneus</a>
            <a class="btn btn-outline-success my-2 my-sm-0 me-2" href="/type-pneu/show">Types de pneus</a>
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/pneu-velo/filtre">Filtre</a>
            <a class="btn btn-outline-secondary my-2 my-sm-0" href="/pneu-velo/etat">Information sur le stock</a>
        </div>
        <a class="btn btn-outline-danger my-2 my-sm-0 ms-auto" href="/init-db">Réinitialiser la base de données</a>
    </div>
</nav>